{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Reservations List {% endblock %}

{% block content %}
{{ super() }}

<div class="page-header">
    <h1>Reservations list</h1>
</div>

<div class="col-md-4">
    {% for reservation in reservations %}
    {{ reservation.id }} {{ reservation.status.name }} 
        {{ reservation.customer.first_name }} {{ reservation.customer.last_name }}
         by {{ reservation.receptionist.first_name }} {{ reservation.receptionist.last_name }}
         {% if reservation.payment.is_payed is sameas true %}
          PAYED
         {% else %}
          NOT PAYED
         {% endif %}
        
    <br>
    {% endfor %}
</div>

{% endblock %}