{% extends "base.html" %}

{% block title %} Users home {% endblock %}

{% block inner_scripts %}
<script>
function LoadUser(user_id) {
    var modal;
    if (user_id) {
        modal = $('#modalEditUser');
        modal.find('.modal-title').text('Update User');
        $.ajax({
            url: Flask.url_for('users.get_user', {user_id: user_id})
        }).done(function (data) {
            var user = data;
            modal.find('form').attr('action', Flask.url_for('users.new_or_update_user', { user_id: user_id }));
            modal.find('#email').val(user.email);
            modal.find('#first_name').val(user.first_name);
            modal.find('#last_name').val(user.last_name);
            modal.find('#role').val(user.role);
            modal.find('#recept_hotel_id').val(user.recept_hotel_id);
            roleOnChange(modal);
        });
    } else {
        modal = $('#modalUser');
        modal.find('.modal-title').text('New User');
        var form = modal.find('form');
        form[0].reset();
        form.attr('action', Flask.url_for('users.new_or_update_user'));
        roleOnChange(modal);
    };
    modal.modal('show');
    return false;
};

function DeleteUser(user_id) {
    if (!user_id) {
        return false;
    };
    var modal = $('#modalDeleteUser');
    modal.find('form').attr('action', Flask.url_for('users.delete', { user_id: user_id }))
    modal.modal('show');
    return false;
};

function roleOnChange(modal) {
    if ($(modal).find('#role option:selected').text() == 'RECEPTIONIST') {
        modal.find('#recept_hotel_id').parents('div.input-group').show();
    } else {
        modal.find('#recept_hotel_id').parents('div.input-group').hide();
    };
};

$(document).ready(function() {
    var modal = $('#modalUser');
    modal.find('#role')[0].addEventListener('change', function () {
        roleOnChange(modal);
    });

    var modalEdit = $('#modalEditUser');
    modalEdit.find('#role')[0].addEventListener('change', function () {
        roleOnChange(modalEdit);
    });
});
</script>
{% endblock inner_scripts %}

{% block inner_content %}
<h2 class="p-3"> Users Management
    (<a href="#" onClick="LoadUser(); return false"> New </a>)
</h2>
<div name="search_form" class="d-inline-block mr-5 align-top">
    <form method="POST">
    {{ search_form.csrf_token }}
    {% for field in search_form %}
        {{ render_field(field) }}
    {% endfor %}
    </form>
</div>
<div class="d-inline-block col-7">
    <table class="table table-sm">
        <thead>
            <tr>
                <th> User Role </th>
                <th> Name, Surname </th>
                <th colspan="2"> Action </th>
            </tr>
        </thead>
        <tbody>
            {% for role, items in users|groupby('role')|sort(reverse=True) %}
            <tr>
                <td>{{ UserRole(role).name|capitalize() }}s</td>
                <td colspan="3"></td>
            </tr>
                {% for user in items %}
                <tr>
                    <td></td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>
                        <button class="btn btn-outline-primary" onClick="LoadUser('{{ user.id }}'); return false">
                            Edit {#{ user.id }#} 
                        </button>
                    </td>
                    <td> 
                        <button class="btn btn-outline-danger" onClick="DeleteUser('{{ user.id }}'); return false">
                            Delete {#{ user.id }#} 
                        </button>
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
    </table>
</div>

<div class="modal fade" id="modalUser" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New User</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ new_form.csrf_token }}
                    {% for field in new_form %}
                        {{ render_field(field) }}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditUser" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ edit_form.csrf_token }}
                    {% for field in edit_form %}
                        {{ render_field(field) }}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDeleteUser" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ submit_form.csrf_token }}
                    Sure you want to delete this user?
                    {{ render_field(submit_form.submit) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock inner_content %}