{% extends "base.html" %}
{% from "bootstrap/form.html" import render_field, render_form %}

{% block title %}New category{% endblock %}
{% block inner_content %}
<div class="col-md-4">
<h4>New room form</h4>
<br>

<form method="post" action=""> 
    {{ form.csrf_token }}

    {% for field in form if field != form.csrf_token %}
        {{ render_field(field) }}
    {% endfor %}

</form>
<br>
<form action="{{ url_for('hotels.update', hotel_id=hotel.id) }}" method="GET">
    <button class="btn btn-secondary" input type="submit">Back to hotel edit</button>
</form>
</div>

{% endblock inner_content %}