{% extends "base_list.html" %}

{% block title %} Hotels {% endblock %}

{% block inner_content %}
<h2 class="p-3"> Hotels </h2>
{{ super() }}
{% endblock inner_content %}

{% block list_content %}
    {% for hotel in hotels %}
    <div class="row" style="margin-bottom: 5px;">
        <div class="col col-md-4 text-center" >
            <img src="{{ url_for('static', filename='img/hotel_image.png') }}">
        </div>
        <div class="col col-md-4">
            <div class="row">
                <a href="{{ url_for('hotels.show', hotel_id=hotel.id) }}" > <b> {{ hotel.name }} {{ '*' * hotel.stars }} </b> </a>
            </div>

            <div class="row">
                {{ hotel.address.post_code }} {{ hotel.address.city }}, {{ hotel.address.country }}
            </div>

            <div class="row"> &nbsp; </div>

            {% for room_category in hotel.room_categories %}
            <div class="row">
                {{ RoomType(room_category.type).name }} - {{ room_category.price }}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-primary"
                onclick="location.href=`{{ url_for('hotels.show', hotel_id=hotel.id) }}`">
                Show hotel
            </button>
        </div>
    </div>
    {% endfor %}
{% endblock list_content %}
