{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form %}

{% block title %} Hotels List {% endblock %}

{% block content %}
{{ super() }}

<div class="page-header">
    <h3>Hotels list...</h3>
</div>

<div class="col-md-4">
    {{ render_form(form) }}
</div>

{# КАКОЙ НАХУЙ БР?? НОРМАЛЬНО ДЕЛАЙ #}
<br> <hr> <br>

<div>
    <table>
    <thead>
        <th>
            <td> </td>
            <td> </td>
        </th>
    </thead>
    <tbody>
        {% for hotel in hotels %}
            <tr>
                <td> {{hotel.name}} </td>
                <td> {{hotel.stars}} </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>


{% endblock %}