{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form %}

{% block title %} Hotels {% endblock %}

{% block inner_scripts %}
<script>
$(document).ready(function () {
    var city = $('#city')
    city.parent('div').hide()

    var country = $('#country')
    country[0].addEventListener('change', function() {
        if (country.val() == '__None') {
            city.parent('div').hide()
        } else {
            city.parent('div').show()
        };
    });
});
</script>
{% endblock inner_scripts %}

{% block inner_content %}

<style>
  .input-group{
      width: 100%;
  }
  .input-group-prepend {
      width: 45%;
      text-align: left;
  }
  .form-control {
      width: 55%;
  }
</style>

<div class="page-header">
    <h3> Hotels </h3>
</div>

{% macro render_field(field) %}
{% if field.type != 'CSRFTokenField' %}
    <div class="input-group mb-3">
        {% if field.type != 'SubmitField' %}
            <div class="input-group-prepend">
                {{ field.label(class_="input-group-text") }}
            </div>
        {% endif %}

        {% if field.type == 'QuerySelectField' %}
            {{ field(class_="custom-select")    | safe }}
        {% elif field.type == 'SubmitField' %}
            {{ field(class_="btn btn-primary")    | safe }}
        {% else %}
            {{ field(class_="form-control")     | safe }}
        {% endif %}
    </div>
{% endif %}
{% endmacro %}

<div class="col-md-4">
    {# { render_form(form) } #}
    <div id="hotel_search_form">
        <form method="post" action="">
            {{ form.csrf_token }}

            {% for field in form %}
                {# <p> {{ field.type }} </p> #}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    </div>
</div>

<br> <hr> <br>

<div>
    <table>
    <thead>
        <th>
            <td> </td>
            <td> </td>
        </th>
    </thead>
    <tbody>
        {% for hotel in hotels %}
            <tr>
                <td> {{hotel.name}} </td>
                <td> {{hotel.stars}} </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock inner_content %}
