{% extends "base.html" %}

{% block title %} Hotels {% endblock %}

{% block inner_scripts %}
<script>
$(document).ready(function () {
// REMOVE {{{
    var beds_1 = $('#beds_1')
    var beds_2 = $('#beds_2')
    var beds_3 = $('#beds_3')
// }}}

    var date_from = $('#date_from')
    var date_to = $('#date_to')

    date_from.parent('div').hide()
    date_to.parent('div').hide()

// REMOVE {{{
    beds_1.parent('div').hide()
    beds_2.parent('div').hide()
    beds_3.parent('div').hide()
// }}}

    var category = $('#category')
    var change_dates = $('#change_dates')

// REMOVE {{{
    if ($('#category option:selected').text() == 'STANDARD') {
        beds_1.parent('div').show()
    } else {
        beds_1.parent('div').hide()
    }
    if ($('#category option:selected').text() == 'LUX') {
        beds_2.parent('div').show()
    } else {
        beds_2.parent('div').hide()
    }
    if ($('#category option:selected').text() == 'BUSINESS') {
        beds_3.parent('div').show()
    } else {
        beds_3.parent('div').hide()
    }

    category[0].addEventListener('change', function() {
        if ($('#category option:selected').text() == 'STANDARD') {
            beds_1.parent('div').show()
        } else {
            beds_1.parent('div').hide()
        }
        if ($('#category option:selected').text() == 'LUX') {
            beds_2.parent('div').show()
        } else {
            beds_2.parent('div').hide()
        }
        if ($('#category option:selected').text() == 'BUSINESS') {
            beds_3.parent('div').show()
        } else {
            beds_3.parent('div').hide()
        }
    });
    // }}}
    // Daty vsegda pokazyvat !!! koroche JS REMOVE
    $( "#form1" ).submit(function (event) {
        date_from.parent('div').show()
        date_to.parent('div').show()
        change_dates.hide()
        event.preventDefault();
    });
    
});
</script>
{% endblock inner_scripts %}

{% block inner_content %}
<div class="row">
    <div class="col-md-6">
    <h1>{{hotel.name}} {{hotel.stars}}</h1>
    <p style="font-size: 30px;">Description<p>
    {{ hotel.description }}
</div>
</div>
<div class="row">
<div class="col-md-6" style="text-align: left;">

<form method="POST">
    {{ form.csrf_token }}
    
    {% for field in form if field != form.first_name and field != form.last_name %} 
    {{ render_field(field) }}
    {% endfor %}

    {% if current_user.role == UserRole.ANON.value %}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
    {% endif %}
</form>
</div>
<div class="col">
{# kousky forem REMOVE chceme 1 FORMU #}
<form id="form1">
    {{ form1.csrf_token }}
    {{ render_field(form1.change_dates) }}
<!--<button id="change_dates" class="btn btn-primary btn-delete", type="submit">Change dates</button>-->
</form>
</div>


</div>
{% endblock inner_content %}
