{% extends "base.html" %}

{% block title %} {{ op }} Hotel {% endblock %}

{% block inner_content %}
<style>
textarea {
    min-height: 300px;
}
</style>

<h2 class="p-3">
    {{ op }} Hotel 
    {% if op == 'New' %}
    {% elif op == 'Edit' %}
        (<a href="{{ url_for('hotels.show', hotel_id=hotel.id) }}"> Show </a>)
    {% elif op == 'Show' %}
        {% if current_user.is_authenticated and (hotel.owner == current_user or current_user.role == UserRole.ADMIN.value)%}
            (<a href="{{ url_for('hotels.update', hotel_id=hotel.id) }}"> Edit </a>)
        {% endif %}
    {% endif %}
</h2>

<div class="row align-items-start no-gutters">
    {% if op == 'Edit' or op == 'Show' %}
    <div class="col col-md-auto p-3">
        {% include "images.html" %}
    </div>
    {% endif %}

    {% if op == 'New' or op == 'Edit' %}
    <div class="col col-md-6 p-3">
        {% if current_user.role == UserRole.DIRECTOR.value %}
            {{ hotel.name }} {{ '*' * hotel.stars }} <br>
            Address: {{ hotel.address.text() }}      <br> <br>
        {% endif %}
        <form method="POST" action="">
            {{ form.csrf_token }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    </div>
    {% elif op == 'Show' %}
    <div class="col col-md-6 p-3">
        <h2> <b> {{ hotel.name }} </b> {{ '*' * hotel.stars }} </h2>
        <p> Address: {{ hotel.address.text() }} </p>
        <p> {{ hotel.description }} </p>
    </div>
    {% endif %}
</div>

{% if hotel is defined and op == 'Edit' %}
<style>
.table-align-valign-center > tbody > tr > td,
.table-align-valign-center > thead > tr > th {
    vertical-align: middle;
}
.table-align-valign-center > tbody > tr > td:not(:first-child),
.table-align-valign-center > thead > tr > th:not(:first-child) {
    text-align: center;
}
</style>
<h2 class="p-3"> Rooms (<a href=""> New </a>) and Categories (<a href=""> New </a>) </h2>
<div class="row justify-content-start p-3">
    <div class="col col-md-6">
        <table class="table table-striped table-align-valign-center">
            <thead class="thead-dark">
                <tr>
                {% for field in category_form %}
                    {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                        <th> {{ field.label }} </th>
                    {% endif %}
                {% endfor %}
                    <th> Action </th>
                </tr>
            </thead>

            <tbody>
                {% for room_category in hotel.room_categories %}
                <tr>
                    <td><b> {{ RoomType(room_category.type).name }}  </b></td>
                    <td><b> {{ "{},-".format(room_category.price) }} </b></td>
                    <td> {{ room_category.description }} </td>
                    <td> <button class="btn btn-primary" onClick="$('#modalRoomCategory').modal('show'); return false;">
                        Update {#{ room_category.id }#}
                        </button>
                    </td>
                </tr>

                    {% for room in room_category.rooms %}
                    <tr>
                        <td> &nbsp; </td>
                        <td> Room #{{ room.number }} </td>
                        <td> {{ room.beds }} Beds  </td>
                        <td> <button class="btn btn-primary" onClick="$('#modalRoom').modal('show'); return false;">
                            Update {#{ room.id }#} 
                            </button>
                        </td>
                    </tr>
                    {% endfor %}

                {% endfor %}
            </tbody>
            </table>
    </div>
</div>

<div class="modal fade" id="modalRoomCategory" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> RoomCategory </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="../{{ hotel.id }}/room_categories/new">
                {{ category_form.csrf_token }}
                {% for field in category_form %}
                    {{ render_field(field) }}
                {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRoom" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Room </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="../{{ hotel.id }}/room_categories/rooms/new">
                    {{ room_form.csrf_token }}
                    {% for field in room_form %}
                        {{ render_field(field) }}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<br><br>
{% endblock inner_content %}
