{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form %}

    <style>
    form textarea#description {
        width: 400px;
        height: 200px;
        /* max-width: 100px; */
    }
    </style>

{% block title %} {{ op }} Hotel {% endblock %}

{% block inner_content %}

{# <div class="page-header">
</div>
#}
<div class="row">
    <div class="col">
        <h3> {{ op }} Hotel </h3>
        {% if current_user.role == UserRole.DIRECTOR.value %}
            {{ hotel.name }} {{ '*' * hotel.stars }} <br>
            Address: {{ hotel.address.text() }}      <br> <br>
        {% endif %}
        <form method="POST" action="">
            {{ form.csrf_token }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
        </form>
    </div>

    {% if hotel is defined %}
        <div class="col">
            <h3> Rooms Categories </h3>
            <form method="POST" action="../{{ hotel.id }}/room_categories/new">
                {{ category_form.csrf_token }}
                {% for field in category_form %}
                    {{ render_field(field) }}
                {% endfor %}
            </form>

            <h3> Rooms </h3>
            <form method="POST" action="../{{ hotel.id }}/room_categories/rooms/new">
                {{ room_form.csrf_token }}
                {% for field in room_form %}
                    {{ render_field(field) }}
                {% endfor %}
            </form>

            {% for room_category in hotel.room_categories %}
                <p> {{ RoomType(room_category.type).name }} {{ room_category.price }} </p>

                {% for room in room_category.rooms %}
                    <p> Number: {{ room.number }}, Beds: {{ room.beds }}  </p>
                {% endfor %}
            {% endfor %}

        </div>
    </div>
    {% endif %}
</div>

{% endblock inner_content %}
