.px-12-left {
  padding-left: 12rem !important;
}

.px-12-right {
  padding-right: 12rem !important;
}

/* nav#menu {
    margin: 20px, 20px, 20px, 20px;
    border: 2px solid black;
}

div#block_content {
    margin: 20px, 20px, 20px, 20px;
    border: 2px solid black;
} */
