{% extends "bootstrap/base.html" %}
{% from "bootstrap/utils.html" import flashed_messages %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block navbar %}
<nav id="menu" class="navbar navbar-top">
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}"> Index </a></li>

        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.home') }}"> Auth Home </a></li>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hotels
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('hotels.list') }}"> List </a>
                <!-- if admin -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('hotels.update') }}"> New Hotel </a>
            </div>
        </li>

        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}"> Log Out </a></li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}"> Log In </a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="block_content"> <!-- NEED TO super() in other templates -->
{# Flash messages #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li> {{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}
</div>
