{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-top">
    <ul class="nav navbar-nav">
        {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('index') }}">Index</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% else %}
        <li><a href="{{ url_for('index') }}">Index</a></li>
        <li><a href="{{ url_for('auth.home') }}">Auth Home</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block content %}
{# Flash messages #}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}