<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>IIS Project</title>
    <style type="text/css">
    	table { border-collapse: collapse; }
    	td, th { border: 1px solid black; padding: 0.3em 0.5em; text-align: left; }
    	dt { font-weight: bold; margin-top: 0.5em; }
		body {width: 50%;  margin: auto;}
		p { text-align: justify;}
    </style>
</head>
<body>

<h1>Hotel: rezervace a správa ubytování</h1> 
<dl>
	<dt>Autoři</dt>
	<dd>Luhin Artsiom<!-- Nahraďte skutečným jménem a e-mailem autora a popisem činnosti -->
	    <a href="mailto:xautor01@stud.fit.vutbr.cz">xluhin00@stud.fit.vutbr.cz</a> -
        vedoucí
	</dd>
	<dd>Sharlaieva Arina<!-- Nahraďte skutečným jménem a e-mailem autora a popisem činnosti -->
	    <a href="mailto:xautor02@stud.fit.vutbr.cz">xsharl00@stud.fit.vutbr.cz</a> - 
		popis činnosti v týmu
	</dd>
  <dd>Vorobiev Nikolaj<!-- Nahraďte skutečným jménem a e-mailem autora a popisem činnosti -->
	    <a href="mailto:xautor03@stud.fit.vutbr.cz">xvorob00@stud.fit.vutbr.cz</a> - 
		popis činnosti v týmu
	</dd>
	<dt>URL aplikace</dt>
	<dd><a href="https://iishotel.herokuapp.com/">https://iishotel.herokuapp.com/</a></dd>
</dl>

<h2>Uživatelé systému pro testování</h2>
<table>
<tr><th>Login</th><th>Heslo</th><th>Role</th></tr>
<tr><td>admin@gmail.com</td><td>a0qwerty</td><td>Administrátor</td></tr>
<tr><td>director0@gmail.com</td><td>d0qwerty</td><td>Vlastník 0</td></tr>
<tr><td>director1@gmail.com</td><td>d1qwerty</td><td>Vlastník 1</td></tr></tr>
<tr><td>director2@gmail.com</td><td>d2qwerty</td><td>Vlastník 2</td></tr></tr>
<tr><td>receptionist0@gmail.com</td><td>r0qwerty</td><td>Recepční</td></tr>
<tr><td>customer0@gmail.com</td><td>c0qwerty</td><td>Zákazník</td></tr>
</table> 
<p>Loginy a hesla dalších recepčních (celkem 4) a zákazníků (celkem 8) jsou tvořeny podle pravidla:</p>
<p style="font-style: italic;"><strong>Login: </strong>(role)(číslo od 0)@gmail.com <strong>Heslo: </strong> (první písmeno role <strong>r nebo c</strong>)(číslo od 0)qwerty</p>
<p><strong>login: </strong>receptionist<strong>1</strong>@gmail.com <strong>heslo:</strong> <strong>r1</strong>qwerty , ...</p>
<p><strong>login: </strong>customer<strong>1</strong>@gmail.com <strong>heslo:</strong> <strong>c1</strong>qwerty , ...</p>
<h2>Implementace</h2>
<p>Projekt je implementován v jazyce Python pomocí frameworku Flask. Klientská část byla napsána v jazycích JavaScript, HTML, CSS.
	Interakce uživatele a systému probíhá bezpečně prostřednictvím forem které jsme vytvořili použitím Flask Forms.
</p>

<h4>Správa účtů /users/</h4>
<p>
	Komponenta pro správu přihlašování a odhlašování uživatelů, úpravu profilů. Autorizace jsme realizovali pomocí Flask Login.
	Uživatel se může přihlásit do účtu nebo vytvořit si nový profil.
	Administrátor a Vlastník mohou spravovat účty recepčních a zákazníků hotelu.
</p>
	<ul>
		<li><strong>login</strong> přihlášení uživatele.</li>
		<li><strong>logout</strong> odhlášení uživatele.</li>
		<li><strong>register</strong> forma registrace a vytvoření účtu.</li>
		<li><strong>new_password</strong> změna hesla přihlášeného uživatele.</li>
		<li><strong>home</strong> domovská stránka.</li>
		<li><strong>manage</strong> zobrazuje seznam zákazníků a recepčních.</li>
		<li><strong>add_user</strong> přidání uživatele.</li>
		<li><strong>edit_user</strong> úprava údajů uživatele včetně role.</li>
		<li><strong>delete_user</strong> vymazání uživatele.</li>
	</ul>

	
<h4>Správa hotelů /hotels/</h4>
<p>
Přidávat a upravovat hotely mohou uživatele administrátor a vlastník.
Vlastník může editovat vlastní hotely a přidávat nové. Administrátor může přidávat hotely (specifikovat vlastníka) a také editovat libovolný hotel.
V rámci editace hotelu je možně měnit informace o hotelu, přidávat nebo editovat kategorie pokojů a jednotlivé pokoje.
</p>
	<ul>
		<li><strong>list</strong> zobrazí seznam hotelů.</li>
		<li><strong>new_or_update_room</strong> úprava nebo přidání nového hotelu.</li>
		<li><strong>new_room_category_rooms</strong> úprava pokojů.</li>
		<li><strong>new_or_update_room_category</strong> úprava nebo přidání kategorie pokojů.</li>
		<li><strong>show</strong> zobrazení informace o hotelu.</li>
		<li><strong>delete</strong> vymazání hotelu, kategorie nebo pokoje.</li>
	</ul>
<h4>Správa rezervací /dashboard/</h4>
<p>
	Vytvářet rezervace v našem systému mohou všichni uživateli. V rámci jedné rezervace
	uživatel může rezervovat najednou několik pokojů pro různá data.
	Uživatel přidává rezervace pomocí formy, pro výběr dat jsme použili widget DatePicker.
	Rezervace na stránkach recepčního se zobrazují pomocí widgetu DayPilot.
</p>
	<ul>
		<li><strong>show</strong> zobrazení rezervací  uživatele.</li>
		<li><strong>load_rooms</strong> zobrazení seznamu pokojů.</li>
		<li><strong>load_reservations</strong> zobrazení seznamu rezervací.</li>
		<li><strong>get_user</strong> zobrazuje uživatele.</li>
		<li><strong>create_reservation</strong> vytvoření rezervace.</li>
		<li><strong>filter_rooms</strong> filtruje pokoje podle kapacity nebo typu.</li>
		<li><strong>is_room_free</strong> zobrazuje stav pokoje.</li>
	</ul>

 <h2>Databáze</h2>
<p>
	V projektu byl použit databázový systém PostgreSQL. Práce z databázou
	jsme realizovali pomocí ORM nástroje SQLAlchemy.
</p>
<h3>Schéma databáze</h3>	
<img src="../static/img/schema.png">

<h2>Instalace</h2>

<h4>Softwarové požadavky a instalace</h4>
Požadavky jsou uvedené v souboru <b>requirements.txt</b> v hlavní složce projektu.
<br>
Nainstalovat nutné balíky je možně příkazem <code>pip intstall -r requirements.txt</code>

<ul style="color: red;">
<li>postup instalace na server,</li>
<li>softwarové požadavky (verze PHP apod.),</li>
<li>jak rozbalit, konfigurovat, inicializovat databázi, ...</li>
</ul>

<h2>Známé problémy</h2>
<p>Zde popište, které body zadání nejsou implementovány a z jakého důvodu. Např. &bdquo;Z časových důvodů nebyla implementována správa uživatelů.&rdquo; Pomůžete tím zrychlit hodnocení, když neimplementované funkce nebudeme muset dlouze hledat.</p>

</body>
</html>
